.light {
    .userSignInSignUp {
        .textField {
            background-color: #ffffff;
            border-radius: 6;
        }
        .avatar {
            background-color: #3cadff;
        }
        
        .submit{
            background-color: #3cadff;
            color: #ffffff;
            &:hover {
                background:#1f7dd7;
                }; 
        }
    }
    
    
}